#Mac OSX
.DS_Store

# Webstorm
.idea/**

# NPM
npm-debug.log
node_modules/

# Browserify bundles
export
*.bundle.js

# Test automation side-effects
test/coverage/
test/integration/fixtures/static/
test/integration/fixtures/index.html