#Mac OSX
.DS_Store

# Webstorm
.idea/workspace.xml

# NPM
npm-debug.log
node_modules/**/.bin/

# Browserify bundles
*.bundle.js

# Mochify && Phantomjs build artifacts
node_modules/mochify/node_modules/watchify/node_modules/chokidar/node_modules/fsevents/build/
node_modules/phantomjs/lib/location.js
node_modules/phantomjs/lib/phantom/

# Karma related build artifacts
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/
node_modules/karma/node_modules/socket.io/node_modules/engine.io/node_modules/ws/node_modules/bufferutil/build/
node_modules/karma/node_modules/socket.io/node_modules/engine.io/node_modules/ws/node_modules/utf-8-validate/build/
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/node_modules/bufferutil/build/
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/node_modules/utf-8-validate/build/
node_modules/karma-browserify/node_modules/watchify/node_modules/chokidar/node_modules/fsevents/build/

# Protractor related build artifacts
node_modules/protractor/node_modules/selenium-webdriver/node_modules/ws/node_modules/bufferutil/build/
node_modules/protractor/node_modules/selenium-webdriver/node_modules/ws/node_modules/utf-8-validate/build/

# webdriver-update downloads specific binaries based on the system running it
node_modules/protractor/selenium/