@import "../../node_modules/bootstrap/less/bootstrap.less";

@text-color: #FFF;

body {
    min-height: 100vh;
    @list: #726D82, #BAACB5;
    background-image: svg-gradient(to top right, @list);
}

.noshadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.lessons-panel {
    .noshadow;
    background-color: transparent;
    color: @text-color;
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: @text-color;
    }
}

.navbar {
    border-radius: 0;
    border: 0;
}
